// Colors

$white: #fff;
$offWhite: #f2f4ff;
$black: #111112;
$background: rgba(204, 213, 255, 0.05);

$purple: #3c008b;
$green: #00ff40;

// Gradients

$gradientPink: #ff3c8e;
$gradientPurple: #a400f1;

$gradientBlue: #0057ff;
$gradientLightBlue: #00c1db;
