.career {
  padding: 6rem;
  &__cards {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  &__card {
    flex: 1;
    background-color: #ccd4ff0d;
    border-radius: 2rem;
    color: $white;
    padding: 6rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    &-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &-icon {
      font-size: 2rem;
      border-radius: 50%;
      background-color: #ccd4ff1c;
      padding: 2rem;
      position: relative;
      z-index: 2;
    }
    &-title {
      font-size: 4.4rem;
      font-weight: 600;
    }
    &-txt {
      font-size: 2rem;
      font-weight: 400;
      color: #e5eaff73;
    }
  }
  &__btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__btn {
    font-weight: 600;
    font-size: 2rem;
    margin-top: 2rem;
  }
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.step {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  &__title {
    font-size: 2rem;
  }
  &__txt {
    font-size: 1.6rem;
    color: #e5eaff73;
  }
  &__icon {
    font-size: 2rem;
    border-radius: 50%;
    background-color: #ccd4ff0d;
    padding: 2rem;
    &-pink {
      color: $gradientPink;
    }
    &-blue {
      color: $gradientBlue;
    }
  }
}

.learn-btn {
  color: $white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .career {
    &__cards {
      flex-direction: column;
      gap: 4rem;
    }
    &__card {
      &-title {
        font-size: 3.4rem;
      }
      &-txt {
        font-size: 1.8rem;
        font-weight: 400;
        color: #e5eaff73;
      }
    }
  }
}

@media (max-width: 600px) {
  .career {
    padding: 2rem;
    &__cards {
      flex-direction: column;
      gap: 4rem;
    }
    &__card {
      padding: 2rem;
      &-title {
        font-size: 2.4rem;
      }
      &-txt {
        font-size: 1.6rem;
      }
    }
  }
}
